@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji&display=swap');

:root {
  --base00: 16, 19, 23;
  --base01: 26, 29, 33;
  --base02: 35, 38, 42;
  --base03: 43, 46, 50;
  --base04: 50, 53, 57;
  --base05: 242, 244, 248;
  --base06: 255, 255, 255;
  --base07: 212, 212, 213;
  --base08: 120, 169, 255;
  --base09: 250, 183, 149;
  --base0A: 233, 86, 120;
  --base0B: 186, 232, 129;
  --base0C: 89, 225, 227;
  --base0D: 46, 230, 166;
  --base0E: 190, 149, 255;
  --base0F: 164, 200, 222;
  --white: 255, 255, 255;
  --darker_black: 10, 13, 17;
  --black: 16, 19, 23;
  --black2: 25, 29, 34;
  --one_bg: 33, 36, 40;
  --one_bg2: 41, 44, 48;
  --one_bg3: 51, 54, 58;
  --grey: 62, 65, 69;
  --grey_fg: 69, 72, 76;
  --grey_fg2: 74, 77, 81;
  --light_grey: 82, 85, 89;
  --red: 233, 86, 120;
  --baby_pink: 248, 101, 135;
  --pink: 255, 126, 182;
  --catppuccin_flamingo: 242, 205, 205;
  --catppuccin_maroon: 235, 160, 172;
  --horizon_orange: 240, 147, 131;
  --orange: 255, 158, 100;
  --yellow: 246, 202, 107;
  --sun: 235, 203, 139;
  --catppuccin_green: 171, 233, 179;
  --light_green: 186, 232, 129;
  --green: 66, 190, 101;
  --vibrant_green: 46, 230, 166;
  --teal: 26, 188, 156;
  --green_cyan: 37, 178, 188;
  --cyan: 24, 184, 217;
  --pale_blue: 164, 200, 222;
  --light_blue: 125, 207, 255;
  --blue: 120, 169, 255;
  --nord_blue: 107, 156, 242;
  --purple: 190, 149, 255;
  --dark_purple: 157, 124, 216;
  --catppuccin_lavender: 180, 190, 254;
  --statusline_bg: 29, 30, 41;
  --lightbg: 50, 51, 62;
  --pmenu_bg: 59, 219, 162;
  --folder_bg: 120, 169, 255;
}

@font-face {
  font-family: SF;
  src:url("./fonts/SF-Mono-Nerd-Font/SFMono\ Regular\ Nerd\ Font\ Complete.otf");
}
@font-face {
  font-family: cozette;
  src:url("./fonts/CozetteVector.ttf");
}

@font-face {
  font-family: terminus;
  src:url("./fonts/Terminus.ttf");
}

body {
  font-size: 1.1em;
  background-color: rgba(var(--base01), 1);
  background-image:url(./assets/bg.png);
  background-position: 50% 0;
}

body:before {
  content:"";
  position:fixed;
  opacity:.2;
  left:0;
  top:0;
  width:100%;
  height:100%;
  pointer-events:none;
  z-index:1000;
  background-image:url(./assets/overlay.png);
  background-repeat:all;
  background-position:0 0;
  animation-name:Static;
  animation-duration:2s;
  animation-iteration-count:infinite;
  animation-timing-function:steps(4);
  box-shadow:inset 0 0 10em rgb(0 0 0/40%)
}
body:after {
  content:"";
  position:fixed;
  left:0;
  top:0;
  opacity:.5;
  width:100%;
  height:100%;
  pointer-events:none;
  z-index:1000;
  background-image:url(./assets/overlay2.png);
  background-repeat:all;
  background-position:0 0;
  animation-name:Static;
  animation-duration:.8s;
  animation-iteration-count:infinite;
  animation-timing-function:steps(4)
}

@keyframes Static {
  0% {
    background-position:0 0
  }
  100% {
    background-position:0 4px
  }
}

a {
  color: rgba(var(--base0D), 1);
}

.navlink {
  text-decoration: none;
  color: rgba(var(--base06), 1);
}


.bigbox {

  min-width: 1200px;

  align-items: stretch;
  margin: auto;

  display: flex;
  justify-content: center;
}

.smallbox {
  width: 200px;
  align-items: stretch;
  padding: 0.4em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  justify-content: flex-start;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background-color: rgba(var(--base00), 0.82);
  color: rgba(var(--base06),1);
  padding: 0.8em;
  font-family: terminus;
  font-weight: 700;
  border: 2px solid rgba(var(--base04), 1);
  border-radius: 6px;
}

.smallbox-1 {
  overflow: hidden;
  width: 400px;
}
.smallbox-2 {
  width: 240px;
  flex-shrink: 0;
}

.smallbox-3 {
  order: -1;
  width: 200px;
}

.no-margin {
  margin: 0;
}

.car {
  height: 42px;
}

.headline {
  text-align: center;
  color: rgba(var(--yellow), 1);
  margin: auto;
  height: 66px;
  min-width: 1200px;
  font-size: 3.82em;
}

.singular {
  padding-top: 15px;
  user-select: none;
  text-align: center;
  margin: auto;
  font-size: 6em;
}

.scrolling-container {
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.scrolling-text-momentum {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  animation: marquee 12s linear infinite;
  animation-timing-function: cubic-bezier(0.3,1.36,0.5,-0.36);
}

.scrolling-text-momentum-wave {
  z-index: 1;
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  animation: marquee-wave 8s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-wave {
  0% {
    transform: translate(-50%, -40%);
  }
  25% {
    transform: translate(-10%, -120%);
  }
  50% {
    transform: translate(-50%, -120%);
  }
  100% {
    transform: translate(-10%, -40%);
  }
}

.looping-container-fast {
  position: relative;
  animation: marquee-normal-loop 1.5s linear infinite;
  height: 42px;
  width: 367.844px;
  align-items: stretch;

  margin: 0;
  white-space: nowrap;
  display: inline-block;
}

.looping-container {
  position: relative;
  animation: marquee-normal-loop 6s linear infinite;
  height: 46px;
  width: 367.844px;
  display: inline-block;
  align-items: stretch;

  margin: 0;
  white-space: nowrap;
  display: inline-block;
}

.scrolling-text-normal {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
}

.scrolling-text-normal-dup {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  padding-left: 150%;
}

.ship-hopper {
  z-index: 2;
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  animation: ship-hopper 1s linear infinite;
  position: relative;
}

#invisible-text {
  color: transparent;
}

@keyframes marquee-normal-loop {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes marquee-normal {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-80%);
  }
}

@keyframes ship-hopper {
  0% {
    transform: translate(-10%, 24%);
  }
  25% {
    transform: translate(-12%, 5%);
  }
  50% {
    transform: translate(-18%, 5%);
  }
  100% {
    transform: translate(-10%, 24%);
  }
}

@keyframes reverse-ship-hopper {
  0% {
    transform: translate(2%, 24%);
  }
  25% {
    transform: translate(-2%, 5%);
  }
  50% {
    transform: translate(4%, 5%);
  }
  100% {
    transform: translate(2%, 24%);
  }
}

h2 {
  display: inline;
  font-family: terminus;
  color: rgba(var(--yellow), 1);
  margin: 0px;
  font-size: 1.8em;
}

h3 {
  display: inline;
  font-family: terminus;
  font-size: 1.0em;
}

#quote {
  font-style: italic;
  color: rgba(var(--yellow), 1);
  color: rgba(var(--base0E), 1);
}

#separator {
  text-decoration: line-through;
}

#icon {
  font-family: 'Noto Emoji', sans-serif;
}

#wavy {
  color: rgba(var(--blue), 1);
}
#wave-underline {
  color: rgba(var(--blue), 1);
  text-decoration: underline wavy;
}

.text-center {
  text-align: center;
}


footer {
  min-width: 1200px;
  text-align: center;
  color: rgba(var(--base06), 1);
}


.red {
  color: rgba(var(--red), 1);
}


.star {
  font-family: cozette;
}

.neon{
  font-family: terminus;
  color: rgba(var(--yellow), 1);
  font-weight: 2000;
  text-shadow: 0 0 10px rgba(var(--base00), 1),0 0 20px rgba(var(--base04), 1),0 0 16px rgba(var(--orange), 1),0 0 40px #00e6b200,0 0 50px #00e6bd3d,0 0 60px #b200e629,0 0 70px #a700e657;
}

.neon-yellow{
  font-family: terminus;
  color: rgba(var(--yellow), 1);
  font-weight: 2000;
  text-shadow: 0 0 10px rgba(var(--base00), 1),0 0 20px rgba(var(--base04), 1),0 0 16px rgba(var(--base09), 1),0 0 40px rgba(var(--yellow), 1),0 0 50px rgba(var(--orange), 1),0 0 60px #b200e629,0 0 70px #a700e657;
}

.neon-red{
  font-family: terminus;
  color: rgba(var(--yellow), 1);
  font-weight: 2000;
  text-shadow: 0 0 10px rgba(var(--base00), 1),0 0 20px rgba(var(--base04), 1),0 0 16px rgba(var(--yellow), 1),0 0 40px rgba(var(--orange), 1),0 0 50px rgba(var(--red), 1),0 0 60px #b200e629,0 0 70px #a700e657;
}

.neon-blue{
  font-family: terminus;
  color: rgba(var(--yellow), 1);
  font-weight: 2000;
  text-shadow: 0 0 10px rgba(var(--base00), 1),0 0 20px rgba(var(--base04), 1),0 0 16px rgba(var(--blue), 1),0 0 40px #00e6b200,0 0 50px #00e6bd3d,0 0 60px #b200e629,0 0 70px #a700e657;
}

.flicker-slow{
  animation: flicker 4s linear infinite;
}

.flicker-fast{
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
  }
}

::-webkit-scrollbar {
  background-color: #202324;
  color: #aba499;
}
::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #575e62;
}
::-webkit-scrollbar-thumb:active {
  background-color: #484e51;
}
::-webkit-scrollbar-corner {
  background-color: #181a1b;
}
* {
  scrollbar-color: #454a4d #202324;
}
::selection {
  background-color: #004daa !important;
  color: #e8e6e3 !important;
}
::-moz-selection {
  background-color: #004daa !important;
  color: #e8e6e3 !important;
}

@keyframes flickering {
  0% { opacity: 0.54 };
  1% { opacity: 0.88 };
  2% { opacity: 1.24 };
  3% { opacity: 0.64 };
  4% { opacity: 0.95 };
  5% { opacity: 1.09 };
  6% { opacity: 0.58 };
  7% { opacity: 0.89 };
  8% { opacity: 0.94 };
  9% { opacity: 0.96 };
  10% { opacity: 1.14 };
  11% { opacity: 1.18 };
  12% { opacity: 0.97 };
  13% { opacity: 0.91 };
  14% { opacity: 0.35 };
  15% { opacity: 0.98 };
  16% { opacity: 0.86 };
  17% { opacity: 1.1 };
  18% { opacity: 0.5 };
  19% { opacity: 0.6 };
  20% { opacity: 0.53 };
  21% { opacity: 0.7 };
  22% { opacity: 0.97 };
  23% { opacity: 0.52 };
  24% { opacity: 0.84 };
  25% { opacity: 0.49 };
  26% { opacity: 0.55 };
  27% { opacity: 1.15 };
  28% { opacity: 0.4 };
  29% { opacity: 1.17 };
  30% { opacity: 0.59 };
  31% { opacity: 0.83 };
  32% { opacity: 0.52 };
  33% { opacity: 0.94 };
  34% { opacity: 0.92 };
  35% { opacity: 1 };
  36% { opacity: 0.55 };
  37% { opacity: 0.53 };
  38% { opacity: 1.26 };
  39% { opacity: 1.12 };
  40% { opacity: 1.27 };
  41% { opacity: 0.73 };
  42% { opacity: 0.84 };
  43% { opacity: 1.26 };
  44% { opacity: 0.73 };
  45% { opacity: 0.77 };
  46% { opacity: 1.05 };
  47% { opacity: 0.52 };
  48% { opacity: 0.5 };
  49% { opacity: undefined };
  50% { opacity: 1 };
};

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
}
