:root {
  --base01: #181828;

  /* --custom */
  /* --nou: not often used */
  --base00: #101317;
  --base0086: #10131786;
  --base0098: #10131798;
  --base01: #1a1d21;
  --base02: #23262a;
  --base03: #2b2e32;
  --base04: #323539;
  --base05: #f2f4f8;
  --base06: #ffffff;
  --base07: #d4d4d5;
  /* -- base08: #3ddbd9; -- variables */
  /* -- base08: #7dcfff; -- variables */
  /* -- base08: #59E1E3; -- variables */
  --base08: #78a9ff;
  /* -- base09: #ff9e64; -- interger, boolean, constant */
  --base09: #FAB795;
  /* -- base09: #F09383; -- interger, boolean, constant */
  /* -- base0A: #ee5396; -- classes, search txt bg */
  --base0A: #E95678;
  /* -- base0B: #42be65; -- string */
  --base0B: #BAE881;
  /* -- base0C: #2ac3de; -- support, regex */
  /* -- base0C: #18B8D9; -- support, regex */
  /* -- base0C: #78a9ff; -- support, regex */
  --base0C: #59E1E3;
  /* -- base0D: #37d99e; -- func; mthd */
  --base0D: #2EE6A6;
  --base0E: #be95ff;
  /* -- base0F: #82cfff; -- deprecated? */
  /* -- base0F: #E95678; -- deprecated? syntax? */
  --base0F: #A4C8DE;

  --white: #ffffff;
  --darker_black: #0a0d11;
  --black: #101317;
  /* -- black: #1C1E26; --  nvim bg */
  --black2: #191d22;
  --one_bg: #212428;
  --one_bg2: #292c30;
  --one_bg3: #33363a;
  --grey: #3e4145;
  --grey_fg: #45484c;
  --grey_fg2: #4a4d51;
  --light_grey: #525559;
  /* -- line: #30303a; -- for lines like vertsplit */

  /* -- red: #ee5396; */
  /* -- red: #e05f65; */
  /* -- baby_pink: #fc7b81; */
  --red: #E95678;
  --baby_pink: #f86587;
  --pink: #ff7eb6;
  /* -- pink: #EE64AC; */
  --catppuccin_flamingo: #F2CDCD;
  /* -- catppuccin_maroon: #EBA0AC; */
  --horizon_orange: #F09383;
  --orange: #ff9e64;
  /* -- yellow: #e0af68; */
  --yellow: #f6ca6b;
  /* -- sun: #EBCB8B; --8% lighter than yellow --not updated */

  --catppuccin_green: #ABE9B3;
  --light_green: #BAE881;
  --green: #42be65;
  /* -- vibrant_green: #37d99e; */
  --vibrant_green: #2EE6A6;
  --teal: #1abc9c;
  --green_cyan: #25B2BC;
  --cyan: #18B8D9;
  --pale_blue: #A4C8DE;
  --light_blue: #7dcfff;
  --blue: #78a9ff;
  --nord_blue: #6b9cf2;
  --purple: #be95ff;
  --dark_purple: #9d7cd8;
  --catppuccin_lavender: #B4BEFE;
  --statusline_bg: #1d1e29;
  --lightbg: #32333e;
  --pmenu_bg: #3bdba2;
  --folder_bg: #78a9ff;

  /* font-size: 16px; */
  /* font-family: 'Open Sans'; */
  /* --text-primary: #b6b6b6; */
  /* --text-secondary: #ececec; */
  /* --bg-primary: #23232e; */
  /* --bg-secondary: #141418; */
  /* --transition-speed: 600ms; */
}

@font-face {
  font-family: SF;
  src:url("./fonts/SF-Mono-Nerd-Font/SFMono\ Regular\ Nerd\ Font\ Complete.otf");
}
@font-face {
  font-family: cozette;
  src:url("./fonts/CozetteVector.ttf");
}

@font-face {
  font-family: terminus;
  src:url("./fonts/Terminus.ttf");
}

body {
  font-family: terminus;
  font-size: 1.1em;
  background-color: var(--base01);
  background-image:url(./assets/bg.png);
  /* background-image:url(./assets/alt-bg.png); */
  background-position: 50% 0;
}

body:before {
  content:"";
  position:fixed;
  opacity:.2;
  left:0;
  top:0;
  width:100%;
  height:100%;
  pointer-events:none;
  z-index:1000;
  background-image:url(./assets/overlay.png);
  background-repeat:all;
  background-position:0 0;
  animation-name:Static;
  animation-duration:2s;
  animation-iteration-count:infinite;
  animation-timing-function:steps(4);
  box-shadow:inset 0 0 10em rgb(0 0 0/40%)
}
body:after {
  content:"";
  position:fixed;
  left:0;
  top:0;
  opacity:.5;
  width:100%;
  height:100%;
  pointer-events:none;
  z-index:1000;
  background-image:url(./assets/overlay2.png);
  background-repeat:all;
  background-position:0 0;
  animation-name:Static;
  animation-duration:.8s;
  animation-iteration-count:infinite;
  animation-timing-function:steps(4)
}

@keyframes Static {
  0% {
    background-position:0 0
  }
  100% {
    background-position:0 4px
  }
}

a {
  color: var(--base0D);
}

.navlink {
  text-decoration: none;
  color: var(--base06);
}


.bigbox {
  /* width: 96%; */
  width: 900px;
  /* max-width: 1200px; */
  /* min-width: 800px; */
  /* height: 1700px; */
  /* height: fit-content; */
  align-items: stretch;
  /* background-color: var(--base00); */
  /* padding: 0.4em; */
  /* margin: 0 auto; */
  margin: auto;
  /* border: 2px solid var(--base04); */
  /* border-radius: 10px; */

  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-evenly; */
  align-items: flex-start;
  /* flex-wrap: wrap; */
  /* align-content: flex-end; */
  /* gap: 0.1em; */
}

.smallbox {
  width: 200px;
  /* height: 700px; */
  align-items: stretch;
  /* background-color: var(--base01); */
  padding: 0.4em;
  margin: 0 auto;
  /* border: 2px solid var(--base04); */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.item {
  /* width: 100%; */
  /* height: 150px; */
  background-color: var(--base0098);
  /* opacity: 86%; */
  color: var(--base06);
  padding: 1em;
  font-family: terminus;
  /* font-size: 0.9em; */
  /* margin: 0 auto; */
  /* font-weight: 700; */
  /* text-align: center; */
  border: 2px solid var(--base04);
  border-radius: 6px;
}

/* .item:hover { */
/*   background-color: var(--base0096); */
/* } */

h2 {
  text-transform: uppercase;
  display: inline;
  font-family: terminus;
  color: var(--base0E);
  /* color: var(--yellow); */
  font-size: 2em;
  /* font-weight: 2000; */
  text-decoration: underline overline;
}

h3 {
  /* text-transform: uppercase; */
  display: inline;
  font-family: terminus;
  /* color: var(--base0E); */
  font-size: 1.0em;
}

#quote {
  font-style: italic;
  color: var(--yellow);
  color: var(--base0E);

}

/* Base Styles Ends */

.bigbox {
}

.smallbox {
}

.smallbox-1 {
  width: 580px;
  flex-grow: 1;
  /* flex-shrink: 0; */
  /* flex-basis: 300px; */
  /* flex: 1; */
  /* align-self: center; */
  /* order: 1; */
}
.smallbox-2 {
  width: 200px;
  flex-shrink: 0;
  /* flex-basis: 0; */
}

/* h1 { */
/* align-self: center; */
/* text-align: center; */
/* } */

.text-center {
  text-align: center;
}

.headline {
  text-align: center;
  text-decoration: underline overline;
  /* align-self: center; */
  /* display: inline; */
  color: var(--yellow);
  margin: auto;
  /* margin: 0; */
  /* padding: 0; */
  /* width: 600px; */
  /* height: 72px; */
  /* width: 600px; */
  height: 60px;
  min-width: 840px;
  font-size: 3.82em;
}

footer {
  text-align: center;
  color: var(--base06);
}

/* #bg { */
/*   z-index:-999; */
/*   background-image: url(./assets/bg.png); */
/*   background-size:cover; */
/*   image-rendering: pixelated; */
/*   background-color:#000; */
/*   background-repeat: repeat; */
/*   width:100%; */
/*   position:absolute */
/* } */


/* Scroll-to-top Button */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


/* NEON */

.star {
  font-family: cozette;
  /* font-size: 0.72em; */
  /* color: var(--yellow); */
}

.neon{
  font-family: terminus;
  font-size:1em;
  color: var(--yellow);
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  font-weight: 2000;
  /* letter-spacing: 2px; */
  /* text-shadow: 1px 0px 4px #FFD5FF, 2px 0px 4px #FFD5FF, 3px 0px 4px #FFD5FF, 2px 0px 3px #D42CCA, 2px 3px 15px #D42CCA, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA; */
  /* color: #ff7ddb; */
  text-shadow: 0 0 10px var(--base00),0 0 20px var(--base04),0 0 16px var(--orange),0 0 40px #00e6b200,0 0 50px #00e6bd3d,0 0 60px #b200e629,0 0 70px #a700e657;
}

.flicker-slow{
  animation: flicker 3s linear infinite;
  /* animation: flickering 0.07s infinite; */
}

.flicker-fast{
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    /* text-shadow: none; */
    opacity: .99;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
  }
}


/* Scrollbar */
/* body::-webkit-scrollbar { */
/*   width: 0.35rem; */
/* } */
/**/
/* body::-webkit-scrollbar-track { */
/* background: #1e1e24; */
/* } */
/**/
/* body::-webkit-scrollbar-thumb { */
/*   background: #6649b8; */
/* } */

::-webkit-scrollbar {
  background-color: #202324;
  color: #aba499;
}
::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #575e62;
}
::-webkit-scrollbar-thumb:active {
  background-color: #484e51;
}
::-webkit-scrollbar-corner {
  background-color: #181a1b;
}
* {
  scrollbar-color: #454a4d #202324;
}
::selection {
  background-color: #004daa !important;
  color: #e8e6e3 !important;
}
::-moz-selection {
  background-color: #004daa !important;
  color: #e8e6e3 !important;
}

@keyframes flickering {
  0% { opacity: 0.54 };
  1% { opacity: 0.88 };
  2% { opacity: 1.24 };
  3% { opacity: 0.64 };
  4% { opacity: 0.95 };
  5% { opacity: 1.09 };
  6% { opacity: 0.58 };
  7% { opacity: 0.89 };
  8% { opacity: 0.94 };
  9% { opacity: 0.96 };
  10% { opacity: 1.14 };
  11% { opacity: 1.18 };
  12% { opacity: 0.97 };
  13% { opacity: 0.91 };
  14% { opacity: 0.35 };
  15% { opacity: 0.98 };
  16% { opacity: 0.86 };
  17% { opacity: 1.1 };
  18% { opacity: 0.5 };
  19% { opacity: 0.6 };
  20% { opacity: 0.53 };
  21% { opacity: 0.7 };
  22% { opacity: 0.97 };
  23% { opacity: 0.52 };
  24% { opacity: 0.84 };
  25% { opacity: 0.49 };
  26% { opacity: 0.55 };
  27% { opacity: 1.15 };
  28% { opacity: 0.4 };
  29% { opacity: 1.17 };
  30% { opacity: 0.59 };
  31% { opacity: 0.83 };
  32% { opacity: 0.52 };
  33% { opacity: 0.94 };
  34% { opacity: 0.92 };
  35% { opacity: 1 };
  36% { opacity: 0.55 };
  37% { opacity: 0.53 };
  38% { opacity: 1.26 };
  39% { opacity: 1.12 };
  40% { opacity: 1.27 };
  41% { opacity: 0.73 };
  42% { opacity: 0.84 };
  43% { opacity: 1.26 };
  44% { opacity: 0.73 };
  45% { opacity: 0.77 };
  46% { opacity: 1.05 };
  47% { opacity: 0.52 };
  48% { opacity: 0.5 };
  49% { opacity: undefined };
  50% { opacity: 1 };
};

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
}
